@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body {
  color: #5a5a5a;
  background-color: #f8f9fa;
}
p {
  margin-bottom: 0;
}
ul {
  list-style-type: disc;
  color: #898989;
}
a {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover,
a:focus,
a:active {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:active {
  outline: 0;
}
.logo-eash {
  height: 2rem;
}
.marketing {
  margin-top: 4rem;
  margin-bottom: 0;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 4rem 0;
}
.featurette-divider-padrillos {
  margin: 3.5rem 0 0 0;
}
.featurette-divider-titulos {
  margin-bottom: 2rem;
}
.featurette-divider-noticias {
  margin-bottom: 0px;
}
.featurette-divider-sobre-nostros {
  margin-bottom: 1rem;
}
.featurette-divider-top {
  margin: 4rem 0;
  width: 86%;
}
.featurette-divider-contacto {
  margin: 1rem 0;
}
.featurette-divider-footer {
  margin-top: 2rem;
}
.featurette-heading {
  font-family: 'Libre Baskerville', serif;
  line-height: 1;
  letter-spacing: -.05rem;
}
@media (max-width: 500px) {
  .featurette-heading {
    font-size: 8vw;
  }
}
.margen-noticias {
  margin-bottom: 15px;
}
.nav-divider {
  margin: 0.5rem 0;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
.margen-logo {
  margin-left: 1rem;
}
.mapa-google {
    display: block;
    width: 100%;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.go-up {
  margin-right: 1rem;
}
.btn-pedigree {
  border-radius: 5px;
  color: whitesmoke;
  background-color: #6c757d;
  padding: 10px 100px;
  border: 1px solid whitesmoke;
}
.btn-pedigree:hover {
  background-color: whitesmoke;
  color: #6c757d;
  border: 1px solid #6c757d;
}
.titulo-padrillos {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
}
.video-padrillos {
  font-size: small;
  text-align: center;
}
.noticias {
  width: 100%;
}
.fondo-redes {
  background-color: rgb(238, 238, 238);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.footer-redes {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/varias/fondo.jpg");
  position: relative;
  background-repeat: no-repeat;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 30vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
#hero .hero-logo {
  margin-bottom: 30px;
}
#hero h1 {
  margin: 0 0 30px 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 3px;
  color: whitesmoke;
}
#hero h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
#hero .btn-get-started {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 8px;
  margin: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.40);
}
#hero .btn-get-started:hover {
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.50);
  color: #fff;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 35px;
    line-height: 45px;
  }
  #hero h2 {
    font-size: 15px;
    line-height: 22px;
  }
}
.navbar-toggler {
  border: transparent;
}
.pagina-ingles a {
  color: #989898;
  font-size: small;
}
.text-muted {
  font-family: 'Libre Baskerville', serif;
}
@media (max-width: 500px) {
  .text-muted {
    font-size: 6vw;
  }
}
.margin-top {
  margin-top: 2rem;
  text-align: center;
}
.crianza {
  pointer-events: none;
}
.iframe-noticias {
  width: 1px;
  min-width: 100%;
  border: none;
}
.ppg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .descripcion-ppg {
    margin-top: 2rem;
  }
}
.rojo {
  color: #ff0000;
}
.carousel-ppg {
  margin-top: 2rem;
}
.tabla-padrillos {
  margin-top: 15px;
  margin-bottom: 30px;
  border: 1px solid lightgray;
  font-size: x-small;
}
@media (max-width: 992px) {
  .no-featurette hr {
    display: none;
  }
}
@media (min-width: 992px) {
  .no-featurette-rev hr {
    display: none;
  }
}
.navbar-toggler {
  position: absolute;
  right: 5px;
  top: 10px;
}
.navbar-toggler>.close {
  display:inherit;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
}
.navbar-toggler:focus {
  outline: 0;
}
.cerrar-navbar {
  font-size: 25px;
  margin-right: 10px;
  color: #5a5a5a;
}
.fancybox__caption {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 500px;
}
.fancybox__caption a{
 color: lightgray;
 font-size: small;
 border: 1px solid lightgray;
 border-radius: 5px;
 padding: 10px 80px;
}
.fancybox__caption a:hover {
  color: black;
  background-color: lightgray;
  border: 1px solid darkgray;
 }
#current-image { 
  width: 100%;
  border-radius: .25rem;
} 
#image-thumbs { 
  margin-top: 20px;
}
.thumb { 
  width: 80px; 
  height: 80px; 
  object-fit: cover;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: .25rem;
}
.margen-abajo {
  margin-bottom: 2rem;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 992px) {
  .margen-abajo-query {
    margin-bottom: 2rem;
  }
}