body {
  padding-top: 5.6rem;
  color: #5a5a5a;
  background-color: #f8f9fa;
}
a {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover,
a:focus,
a:active {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:active {
  outline: 0;
}
.logo-eash {
  height: 4rem;
}
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 600px;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0;
}
.featurette-divider-contacto {
  margin: 1rem 0;
}
.featurette-divider-footer {
  margin-top: 5rem;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-top: 1rem;
}
.nav-divider {
  margin: 0.5rem 0;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 2rem;
  }
}
.margen-logo {
  margin-left: 1rem;
}
.gm-map {
    display: block;
    width: 100%;
    height: 300px;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.galeria1 {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 600px;
}
.galeria2 {
  object-fit: cover;
  object-position: 50% 45%;
  width: 100%;
  height: 600px;
}
.galeria3 {
  object-fit: cover;
  object-position: 50% 30%;
  width: 100%;
  height: 600px;
}